<div appPadding>
  <md-card>
    <md-card-subtitle>Search the world!</md-card-subtitle>
    <md-card-title>Wikipedia</md-card-title>
    <md-card-content>
      <md-input #searchInput placeholder="search term" (input)="value.emit(searchInput.value)">
      </md-input>
      <ul>
        <li *ngFor="let result of results">
          {{result}}
        </li>
      </ul>
    </md-card-content>
  </md-card>
</div>