<h1>
  {{title}}
</h1>

<a [routerLink]="['/']">Home</a>
<a [routerLink]="['/about']">About</a>
<a [routerLink]="['/users']">Users</a>
<a [routerLink]="['/pets']">Pets</a>
<a [routerLink]="['/wiki']">Wiki</a>

<router-outlet></router-outlet>
